* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container {
    background: pink;
    height: 50vh;
    width: 75vh;
    padding: .5em;
    margin: 25vh auto 0;
    display: flex;
    flex-flow: row nowrap;

 
}
.item {
    background: rgb(171, 214, 228);
    margin: .5em;
}

.big {
    font-size: 300%;
    
}

.one {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    order: 3;
}

.two {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    order: 2;
}

.three {
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 250px;
    order: 1;
}